<header>
    <a href="/" class="header-logo">
        <img src="../images/HabitRabbitLogo.png" alt="HabitRabbit" class="logo">
    </a>

    <nav>
        <a href="/{{ link1 }}">{{ link1 }}</a>
        <a href="/{{ link2 }}">{{ link2 }}</a>
        <a href="/{{ link3 }}">{{ link3 }}</a>
    </nav>
</header>