<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="The most advanced habit tracker you've ever seen.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700" rel="stylesheet">

        <link rel="stylesheet" href="{{ stylesheet }}">
        <link rel="stylesheet" href="../css/sitewide.css">
        <link rel="stylesheet" href="../css/webapp.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    </head>

    <body>

        {{!-- Scripts --}}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="js/webapp.js"></script>
        <script src="{{ script }}"></script>

        {{!-- Preloader --}}

        <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        </div>

        {{!-- Header / Aside / Footer --}}

        <div class="grid-wrapper container">
            <div class="topbar topbar-logo">
                <img class="logo-img" src="./images/logo-light-icon.png"></img>
                <h3 class="logo-text">Habbit<span>Rabbit</span></h3>
            </div>
            <div class="topbar header">
                <div class="menu-toggle">
                    <i class="fas fa-bars fa-lg"></i>
                </div>
                <div class="nav-item">
                    <a href class="pf-item nav-link"><img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c157.0.765.765/25036516_1522877107793926_8260922719688720384_n.jpg" alt="user" class="profile-pic">{{ user }}</a>
                </div>
            </div>
            <aside class="left-sidebar">
                <nav class="sidebar-nav">
                    <ul class="sidebar-items">
                        <li><a href="/dashboard" class="sidebar-item"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
                        <li><a href="/analytics" class="sidebar-item"><i class="fas fa-chart-line"></i> <span>Analytics</span></a></li>
                        <li><a href="/social" class="sidebar-item"><i class="fas fa-users"></i> <span>Social</span></a></li>
                        <li><a href="/profile" class="sidebar-item"><i class="fas fa-user"></i> <span>Profile</span></a></li>
                    </ul>
                </nav>
                <a class="button orange-button logout" href="/logout">Log out</a>   
                <div class="footer">
                    <a href="/settings" class="footer-settings"><i class="fas fa-cog"></i></a>
                    <a href="/logout" class="footer-logout"><i class="fas fa-power-off"></i></a>
                </div>
            </aside>
            <main class="page-wrapper">
                
                {{{ body }}}

                <div class="footer page-footer"> © 2017 HabitRabbit by Luca & Bram </div>
            </main>
        </div>

        {{!-- Create & Edit Modal --}}

        <div class="modal" id="create-modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>add that habit!</h1>
                <form id="createhabit" action="/dashboard/add" method="POST">
                    <label for="name">habit name</label>
                    <input name="name" type="text" required placeholder="e.g. Go to the gym">
                    <label for="duration">How many days until you don't need us anymore?</label>
                    
                    <input name="duration" type="number" placeholder="42" min="1" max="5000" required>
                    
                    <fieldset>
                    <label for="frequency">How often do you want to check your progress?</label>
                    
                    <select name="frequency">
                        <option name="frequency" value="1">Once a week</option>
                        <option name="frequency" value="2">Twice a week</option>
                        <option name="frequency" value="3">Three times a week</option>
                        <option name="frequency" value="4">Four times a week</option>
                        <option name="frequency" value="5">Five times a week</option>
                        <option name="frequency" value="6">Six times a week</option>
                        <option name="frequency" value="7">Seven times a week</option>
                    <select>
                    </fieldset>
                    
                    <fieldset>
                    <label for="good">Do you want to get rid of, or start a habit?</label>
                    <br>
                    <input name="good" type="radio" value="true" checked> good</input><br>
                    <input name="good" type="radio" value="false"> bad</input>
                    
                    </fieldset>
                    <input class="button good-button" id="submit" type="submit" value="add">
                </form>
            </div>
        </div>

        <div class="modal" id="edit-modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>edit that habit!</h1>
                <form id="edithabit" action="/dashboard/edit" method="POST">
                    <label for="name">new habit name</label>
                    <input name="name" type="text" required placeholder="e.g. Go to the gym">
                    <label for="duration">How many days until you don't need us anymore?</label>
                    <input name="duration" type="number" placeholder="42" min="1" max="5000" required>
                    <fieldset>
                    <label for="frequency">How often do you want to check your progress?</label>
                    <select name="frequency">
                        <option name="frequency" value="1">Once a week</option>
                        <option name="frequency" value="2">Twice a week</option>
                        <option name="frequency" value="3">Three times a week</option>
                        <option name="frequency" value="4">Four times a week</option>
                        <option name="frequency" value="5">Five times a week</option>
                        <option name="frequency" value="6">Six times a week</option>
                        <option name="frequency" value="7">Seven times a week</option>
                    <select>
                    </fieldset>
                    <fieldset>
                    <label for="good">Do you want to get rid of, or start a habit?</label>
                    <br>
                    <input name="good" type="radio" value="true"> good</input><br>
                    <input name="good" type="radio" value="false"> bad</input>
                    </fieldset>
                    <input class="button good-button" id="submit" type="submit" value="edit">
                </form>
            </div>
        </div>
    </body>
    
</html>